/* ----banner section---- */
#banner-section {
    margin: 50px auto;
}

.banner-container {
    position: relative;
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;

}
#banner-div {
    display: flex;
    height:100%;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}
.banner-item {
    /* to scroll items need min and max width */
    min-width: 46%;
    max-width: 46%;
    height: 100%;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: var(--showdow);
}

.banner-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.left-arrow, .right-arrow{
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    background-color: white;
    border-radius: 50px;
    box-shadow: var(--showdow);
    align-items: center;
    justify-content: center;
    top: 85px;
}

#left-arrow {
    display: none;
}

#right-arrow {
    display: flex;
    right: 0px;
}

#banner-div::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-dot {
    margin: 20px auto;
    text-align: center;
    font-size: 0.8rem;
}

.hidden {
    display: none;
}


/* ----destination small icons---- */
#destination {
    height: 250px;
    margin: 50px 0;
    display: flex;
}

.destination-wrapper{
    width: 1000px;
    margin: 5px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.div-title {
    font-size: 0.85rem;
    margin-bottom: 10px; 

}

.city-wrapper{
    width: 1000px;
    height: 200px;
    margin: 10px auto;
    
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.city-div {
    min-width: 150px;
    max-width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.city-div:hover {
    cursor: pointer;
}

.city-img{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-img img{
    width: 120px;
    border-radius: 50%;
}

.city-img:hover img{
    width: 130px;
    box-shadow: 0 0 5px var(--grey);
}

.city-name {
    font-size: 0.8rem;
}

.city-detail{
    font-size: 0.7rem;
    color: var(--grey);
}

.toLeft {
    top: 110px;
    left: 0px;
    display: none;
}
.toRight {
    top: 110px;
    right: 0px;
}

.city-wrapper::-webkit-scrollbar {
    height: 0;
    width: 0;
}

#explore {
    margin: 50px 0;
    display: flex;
}

.explore-wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0 auto;
}

.card-div {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--lightgrey);
}

.card-div img {
    width: 100%;
}

.card-title {
    font-size: 0.75rem;
    margin: 5px 0 5px 5px;
    
}

.card-detail {
    font-size: 0.7rem;
    color: var(--grey);
    margin: 5px 0 5px 5px;
}

.card-div:hover {
    box-shadow: 0 0 10px var(--grey);
    cursor: pointer;
}